body {
    font-size: 16px;
    box-sizing: border-box;
}

p, ul, li, pre, h2 {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-size: 4em;
    margin: 1em 0;
    text-align: center;
}

h2 {
    font-size: 1em;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hide {
    display: none;
}

label {
    display: inline-block;
}

/* -----  Header ----- */

.header {
    min-height: 50px;
    position: relative;
    background: rgb(180,221,180);
    background: linear-gradient(to right, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
    font-size: 3em;
    padding: 25px 200px 25px 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#menuButton {
    position: absolute;
    width: 60px;
    height: 55px;
    top: calc(50% - 20px);
    right: 50px;
    cursor: pointer;
}

#menuButton:hover > span {
    background-color: white;
}

#menuButton span {
    height: 15px;
    display: block;
    float: left;
    margin-bottom: 5px;
    border-radius: 100px;
    background-color: rgba(255,255,255,.8);
    transition: .5s ease;
}

#menuButton span:nth-last-child(1),
#menuButton span:nth-last-child(2) {
    margin-bottom: 0;
}

#menuButton span:nth-child(odd) {
    width: 15px;
    margin-right: 3px;
}

#menuButton span:nth-child(2n) {
    width: 42px;
}

.animated {
     animation-duration: .5s;
     animation-delay: 0s;
    animation-fill-mode: both;
}

.animatedFast {
    animation-duration: .3s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

/* -----  Menu ----- */

#content {
    position: relative;
    padding: 5px;
    background: #b4ddb4;
    background: linear-gradient(to right,rgba(180,221,180,1) 0,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
}

#content::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: #fff;
}

#navmenu ul {
    width: 100%;
    margin-top: 5px;
}

#navmenu ul li {
    width: calc(33.333% - 10px);
    float: left;
    display: block;
    padding: 5px;
}

#navmenu ul li button {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 10px;
    font-size: 2em;
    transition: .3s ease;
    box-sizing: border-box;
    cursor: pointer;
}

#navmenu ul li button:hover,
#navmenu ul li button:focus,
#navmenu ul li button:active {
    background-color: #40A741;
    color: black;
}
/* -----  Border Radius Block ----- */

.promoBlock {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 3px solid green;
    background-color: aqua;
}

section > div {
    padding: 20px;
    position: relative;
}

.settings,
.promoText {
    margin-bottom: 20px;
}

#BorderRadiusBlock .settings,
#BoxShadowBlock .settings,
#BoxResizeBlock .settings,
#OutlineBlock .settings,
#TransitionBlock .settings,
#TransformBlock .settings {
    min-height: 300px;
}

section ul li {
    margin: 10px 0;
    color: #ccc;
}

section ul li label {
    margin-right: 10px;
    color: black;
}

#BorderRadiusBlock ul li input:last-child,
#RGBABlock ul li input:last-child {
    margin-left: 10px;
}

.codeBlock {
    padding: 10px 100px 10px 10px;
    background: #eee;
    position: relative;
    border: 1px solid #ddd;
}

.copyCode {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    text-align: center;
    background: #ddd;
    cursor: pointer;
}

.copyCode:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#BorderRadiusBlock label,
#OutlineBlock label,
#FlexboxBlock label {
    width: 110px;
}

/* -----  Box Shadow Block ----- */

#BoxShadowBlock label,
#TextShadowBlock label,
#MultipleColumnBlock label {
    width: 140px;
}

/* -----  RGBA Block ----- */

#RGBABlock label {
    width: 50px;
}

/* -----  RGBA Block ----- */

#FontFaceBlock ul {
    min-height: 0;
}

#FontFaceBlock label {
    width: 90px;
}

/* -----  Multiple Column Block ----- */

#BoxResizeBlock label {
    width: 80px;
}

#TransitionBlock label {
    width: 120px;
}

#TransformBlock label {
    width: 60px;
}

/* -----  Flexbox Block ----- */

.promoFlex {
    display: flex;
    border: 1px solid #eee;
    margin-bottom: 20px;
    min-height: 200px;
}

.promoFlex div {
    height: 50px;
    width: 50px;
    background: #A5D6A5;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.promoFlex div:nth-child(2) {
    background: #62B863;
    width: 60px;
    height: 60px;
}

.promoFlex div:nth-child(3) {
    background: #2B9D2F;
    width: 70px;
    height: 70px;
}

.promoFlex div:nth-child(4) {
    background: #006A00;
    width: 80px;
    height: 80px;
}

.promoFlex div:nth-child(5) {
    background: #002D00;
    width: 90px;
    height: 90px;
}